<div *ngIf="isUserLogged">
    <div class="header-container">
        <div class="header-sub-container">
            <button [routerLink]="['/home']" [routerLinkActive]="['active']" class="header-button">
                {{displayUser}}
            </button>
            <button [routerLink]="['/mountains']" [routerLinkActive]="['active']" class="header-button">
                Korona Gór
            </button>
            <button [routerLink]="['/parks']" [routerLinkActive]="['active']" class="header-button">
                Parki Narodowe
            </button>
        </div>
        <button class="logout-button" (click)="onClickLogout()" class="header-button">
            Wyloguj się
        </button>
    </div>
</div>