<div class="header">
    <div class="header-text-container">
        <div class="header-text-main">
            Zwiedzaj
        </div>
        <br>
        <div class="header-text-main">
            Polskę!
        </div>
        <br>
        <div class="header-text-second">
            Planuj, Eksploruj, Zdobywaj!

        </div>

    </div>

    <div class="buttons">
        <button 
            (click)="onClickLoginButton()"
            class="btn-moving" 
            mat-raised-button 
            style="border-radius: 100px; transition: all 0.5s"
            color="primary">
            Zaloguj się</button>
        <button
            (click)="onClickSignUpButton()" 
            class="btn-moving"
            mat-raised-button 
            style="border-radius: 100px; transition: all 0.5s"
            color="primary"
            >Zarejestruj się</button>
    </div>
</div>