<div class="header">
<div class="login-form">

<form class="w-100" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mat-form-field class="moveFromLeft">
        <input 
            matInput 
            type="email"
            required
            ngModel
            email
            name="email" 
            placeholder="Adres e-mail">
        <mat-error>Podaj prawidłowy adres email</mat-error>
    </mat-form-field>
    <mat-form-field class="moveFromLeft">
        <input 
            matInput
            required
            ngModel
            name="password" 
            type="password" 
            placeholder="Hasło">
        <mat-error>Hasło nie może być puste</mat-error>
    </mat-form-field>
    <button 
            [disabled]="!form.valid"
            class="w-100 btn-moving"
            style="border-radius: 100px; transition: all 0.5s" 
            type="submit" 
            mat-raised-button 
            color="primary">
            {{login}}
    </button>   
</form>
<h4 class="moveFromRight">Nie masz konta?</h4>
<button
    class="moveFromRight btn-moving"
    style="border-radius: 100px; transition: all 0.5s"
    (click)="onClickSignUp()"    
    mat-raised-button 
    color="primary">
    {{signUp}}
</button>
</div>
</div>